<html>
    <head>
        <title>fabry blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django fabry Blog</a></h1>
        </div>

        <div>
            <p>published: 28.10.2023, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Creando y editando mi primera pagina</p>
        </div>

        <div>
            <p>published: 28.10.2023, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Use html. F</p>
        </div>
    </body>
</html>